$columns: 12;

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 (100% / (12 / $i));
  }
  @media screen and (max-width: 800px) {
    .col-sm-#{$i} {
      flex: 0 0 (100% / (12 / $i));
    }
  }
  @media screen and (max-width: 600px) {
    .col-xs-#{$i} {
      flex: 0 0 (100% / (12 / $i));
    }
  }
}
