// fonts
$lato: "Lato", sans-serif;
$sofiaproRegular: "sofiaproregular", sans-serif;
$sofiaproSemibold: "sofiaprosemibold", sans-serif;
$sofiaproBlack: "sofiaproblack", sans-serif;
$sofiaproLightItalic: "sofiaprolightitalic", sans-serif;
$sofiaproBold: "sofiaprobold", sans-serif;
$sofiaproMedium: "sofiapromedium", sans-serif;
$sofiaproLight: "sofiaprolight", sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$red: #bd0000;
$footerColor: #555555;
$lineColor: #bbbbbb;
$lightColor: #bababa;
$darkGrey: hsl(0, 0, 10%);
